<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ament.dbhandler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/note_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/note_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Regolo la visibilità della tastiera cosi che non copra la editText -->
        <activity android:name=".DBactivity"
            android:windowSoftInputMode="adjustResize|stateHidden"

            />
        <activity android:name=".Impostazioni" />
        <activity android:name=".NoteSalvateNelDatabase" />
        <activity android:name=".EditOrDeleteRowOfNoteSalvateNelDatabase" />
        <activity android:name=".CoseDaRicordare" />
        <activity android:name=".MostraNotaSelezionata"></activity>
    </application>

</manifest>